body {
    text-align: center;
    font-family: 'Microsoft Yahei', serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main {
    overflow: hidden;
}

.item {
    margin: 10px 0;
}

.ylim-print-wall {
    overflow: auto;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #888;
    height: 300px;
    width: 500px;
    text-align: left;
}

.ylim-print-wall p {
    margin: 10px 0;
    word-wrap: break-word;
}

.ylim-print-wall .msg {
    color: #f20;
}

.ylim-input-send {
    width: 350px;
}

.btn {
    height: 22px;
    line-height: 22px;
    padding: 1px 10px;
    background-color: #219ff0;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    transition: opacity 0.8s;
}

.btn:hover {
    opacity: 0.6;
}

.btn:active {
    opacity: 1;
}

.side {
    float: left;
    height: 100%;
}

.side-padding {
    padding: 20px;
}
